

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.side-nav.collapsed {
  width: 70px !important;
  min-width: 70px !important;
  transition: width 0.3s;
}
.side-nav.collapsed .side-nav-inner,
.side-nav.collapsed .side-nav-content,
.side-nav.collapsed .side-nav-menu.scrollable {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.side-nav.collapsed .dropdown-toggle,
.side-nav.collapsed .nav-link,
.side-nav.collapsed .title,
.side-nav.collapsed .arrow,
.side-nav.collapsed .badge,
.side-nav.collapsed .user-profile-sidebar,
.side-nav.collapsed .friend-requests-container {
  display: none !important;
}
.side-nav.collapsed .icon-holder {
  margin: 0 auto !important;
  font-size: 1.5rem;
  display: block;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

